:root {
  --bg-main: #0f0a1f;
  --bg-secondary: #15002B;
  --bg-card: #1A0033;

  --text-main: #F4F4F5;
  --text-secondary: #BEB3FF;

  --accent: #7c3aed;
  --accent-dark: #5b21b6;

  --border: #2d2350;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-main);
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}